# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore .env
*.env

# Ignore eclipse files
*.project
.settings
*.classpath

# Ignore idea files
.idea

# Ignore bin
bin

# Ignore logs 
*.log

# Ignore temp
*.xml
wordle.json
lastStartTime.txt
input/
output/
serverIcons.json
versions/
*.db
