<configuration>
    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d [%thread] %level %logger{50}/%marker - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
    <root level="WARN">
        <appender-ref ref="CHANNEL"/>
    </root>

    <!--Make all useless loggers shut up -->
    <logger name="io.netty.buffer.AbstractByteBufAllocator" level="WARN"/>
    <logger name="io.netty.buffer.PooledByteBufAllocator" level="WARN"/>
    <logger name="org.mongodb" level="WARN"/>
    <logger name="net.dv8tion.jda.internal.requests" level="WARN" />
    <logger name="net.dv8tion.jda.api.utils.SessionControllerAdapter" level="WARN" />
    <logger name="net.dv8tion.jda.internal.handle.GuildSetupController" level="WARN" />
</configuration>