<configuration>
    <conversionRule conversionWord="customhighlight" class="dev.darealturtywurty.superturtybot.logback.TurtyBotHighlightingCompositeConverter" />

    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %blue([%d{YYYY-MM-dd HH:mm:ss}]) %customhighlight([%t/%level]){thread} %cyan(\(%logger{0}\)) %customhighlight(%msg){msg}%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
    <root level="WARN">
        <appender-ref ref="CHANNEL"/>
    </root>

    <!--Make all useless loggers shut up -->
    <logger name="io.netty.buffer.AbstractByteBufAllocator" level="WARN"/>
    <logger name="io.netty.buffer.PooledByteBufAllocator" level="WARN"/>
    <logger name="org.mongodb" level="WARN"/>
    <logger name="net.dv8tion.jda.internal.requests" level="WARN" />
    <logger name="net.dv8tion.jda.api.utils.SessionControllerAdapter" level="WARN" />
    <logger name="net.dv8tion.jda.internal.handle.GuildSetupController" level="WARN" />
    <logger name="dev.lavalink.youtube.http.YoutubeOauth2Handler" level="INFO" />
</configuration>