name: Publish Dockerfile to GitHub Packages

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: darealturtywurty/superturtybot

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3.5.3

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Execute Gradle shadowJar
        run: ./gradlew shadowJar

      - name: List files
        run: ls -Rla

      - name: Log in to the Container registry
        uses: docker/login-action@v2.2.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          mkdir temp
          cp $GITHUB_WORKSPACE/build/libs/SuperTurtyBot-all.jar temp/SuperTurtyBot.jar
          docker build -t ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest .
          rm -rf temp

      - name: Push Docker image
        run: docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
